html,
body {
    background: #272822;
    color: #eeeeee;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.svg-control {
    width: 24px;
    height: 24px;
    margin: 5px;
}

.svg-control:hover #control,
.svg-control:active #control {
    /*noinspection CssUnknownTarget*/
    fill: url(#hover);
}

.clickable {
    cursor: pointer;
}
.clickable,
.clickable:active,
.clickable:focus {
    outline: none;
}

.control-container {
    margin: 5px auto;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
    overflow: auto;
}

.view {
    position: relative;
}

.view.ng-enter,
.view.ng-leave {
    position: absolute;
    transition: 1.5s all ease-in-out;
}

.view.idle {
    z-index: 8888;
}

.view.nav {
    z-index: 7777;
}

.view.idle.ng-enter {
    top: -100%;
}

.view.idle.ng-enter-active {
    top: 0;
}

.view.idle.ng-leave {
    top: 0;
}

.view.idle.ng-leave-active {
    top: -100%;
}

.view.nav.ng-enter {
    top: 100%;
}

.view.nav.ng-enter-active {
    top: 0;
}

.view.nav.ng-leave {
    top: 0;
}

.view.nav.ng-leave-active {
    top: 100%;
}

.sticky-footer {
    background: #272822;
    border-top: 1px solid #444444;
    z-index: 9999;
}

md-slider.vol-slider {
    margin: 0 10px;
}

md-slider.vol-slider .md-track.md-track-fill {
    /*background-color: #ff5573;*/
    background: linear-gradient(to top right, #ff843e, #ff5573, #ff62c4);
}

md-slider.md-default-theme .md-thumb:after, md-slider .md-thumb:after {
    background: linear-gradient(to top right, #ff843e, #ff5573, #ff62c4);
    border-color: #ff5573;
}
